*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

svg {
  cursor: pointer;
}

.header {
  height: 100vh;
  background-image: url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* navbar */

.navbar {
  padding-top: 1.5rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  gap: 10rem;
}

.navbar__logo {
  cursor: pointer;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar__link:link,
.navbar__link:visited {
  font-size: 1.8rem;
  color: #6d6d64;
  display: inline-block;
  transition: all 0.2s;
}

.navbar__link:hover,
.navbar__link:active {
  color: #000;
  transform: translateY(-3px);
}

.header__content {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

/* about */

.about {
  padding: 0 4rem;
  margin-top: 10rem;
}

.about__image-box {
  height: 40rem;
  width: 70%;
  background-color: #ddd0c8;
}

.about__image {
  height: 50%;
  width: 100%;
  clip-path: polygon(100% 0, 100% 63%, 0 100%, 0 0);
}

.about__image-text {
  margin: 0 2.5rem;
  text-align: justify;
  font-weight: 600;
}

/* services */

.services {
  margin-top: 10rem;
  padding: 0 4rem;
}

/* services-card */

.services-card {
  background-color: #ddd0c8;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 2rem;
}

.services-card__icon {
  width: 4rem;
  height: 4rem;
  display: block;
  margin: 0 auto;
}

/* teachers */

.teachers {
  margin-top: 15rem;
  padding: 0 4rem;
}

/* teachers-card */

.teachers-card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.teachers-card__image {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}

.teachers-card__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.teachers-card__icon {
  width: 2rem;
  height: 2rem;
}

/* contact */

.contact__title {
  margin-top: 15rem;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container {
  width: 70%;
  min-height: 50rem;
  display: flex;
  align-items: center;
  background-color: #ddd0c8;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border: 1px solid rgba(0, 0, 0, 0.22);
}

.contact__right {
  flex: 0 0 60%;
  height: 100%;
  padding: 8rem;
  background-color: #fff;
}

.form__input,
.form__text-area {
  width: 100%;
  padding: 8px;
}

.form__text-area {
  resize: none;
}

.contact__left {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.reach {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.reach__icon {
  width: 2.5rem;
  height: 2.5rem;
}

/* footer */

.footer {
  padding: 6rem;
  background-color: #323232;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 2rem;
}

/* float-grid */

.float-grid {
  max-width: 114rem;
  margin: 0 auto;
}

.float-grid::after {
  content: "";
  display: table;
  clear: both;
}

[class^="col-"] {
  float: left;
}

[class^="col-"]:not(:last-child) {
  margin-right: 10rem;
}

.col-1-of-2 {
  width: calc((100% - 10rem) / 2);
}

/* css-grid */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 4rem;
}

/* flexbox*/

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  flex-wrap: wrap;
}

/* typhography */

.title-1 {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
}

.title-2 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.title-3 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}

.title-4 {
  font-size: 2rem;
  font-weight: 500;
}

.pharaphraph {
  font-size: 1.4rem;
}

/* buttons */

.btn {
  display: block;
  margin: 0 auto;
  padding: 1rem 4rem;
  border: 3px solid #ddd0c8;
  background-color: #323232;
  color: #fff;
  outline: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

/* utilities */

.mb-small {
  margin-bottom: 1.5rem;
}

.mb-medium {
  margin-bottom: 3rem;
}

.mb-large {
  margin-bottom: 4rem;
}

.text-center {
  text-align: center;
}
